<div class="row">
<div class="col-sm-10">
<h5 style="margin-top: 0">
    <a href="{{ result.url }}">{{ result.title | raw }}</a>
    {% if __SELF__.showProviderBadge %}
        <span class="ss-result__badge">
            {{ result.provider }}
        </span>
    {% endif %}

    {# Some results contain meta information.     #}
    {# You can access it using result.meta.       #}
    {# To find out from which plugin the result   #}
    {# was returned you can use result.identifier #}
</h5>

<p>
    {{ str_limit(result.excerpt | raw, 100) }}
</p>
</div>

<div class="col-sm-2">
<a href="{{ result.url }}" class="btn btn-md btn-info">{{ __SELF__.visitPageMessage }} &rarr;</a>
</div>

</div>