[staticMenu]
code = "header-menu"

[viewBag]
==
<div class="header-container header-nav">
    <div class="container">
        <div class="header-nav-main">
            <nav>
                <ul class="nav nav-pills" id="mainNav">
                {% component 'staticMenu'%}
                    <li><a href="{{ 'home'|page }}">Home</a></li>
                    <li><a href="{{ 'product_category'|page }}">Product Category</a></li>
                    <li><a href="{{ 'products'|page }}">A Products</a></li>
                    <li><a href="{{ 'product-detail'|page }}">Product detail</a></li>
                    <li class="pull-right"><a href="{{ 'contact'|page }}">Contact us</a></li>

                </ul>
            </nav>
        </div>
    </div>
</div>