<div class="header-container header-nav">
    <div class="container">
        <div class="header-nav-main">
            <nav>
                <ul class="nav nav-pills" id="mainNav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="demo-shop-6.html">
                            Home
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a href="demo-shop-1.html">Shop Demos</a>
                                <ul class="dropdown-menu">
                                    <li><a href="demo-shop-1.html" data-thumb-preview="../img/demos/shop/previews/home1.jpg">Shop - Demo 1</a></li>
                                    <li><a href="demo-shop-2.html" data-thumb-preview="../img/demos/shop/previews/home2.jpg">Shop - Demo 2</a></li>
                                    <li><a href="demo-shop-3.html" data-thumb-preview="../img/demos/shop/previews/home3.jpg">Shop - Demo 3</a></li>
                                    <li><a href="demo-shop-4.html" data-thumb-preview="../img/demos/shop/previews/home4.jpg">Shop - Demo 4</a></li>
                                    <li><a href="demo-shop-5.html" data-thumb-preview="../img/demos/shop/previews/home5.jpg">Shop - Demo 5</a></li>
                                    <li><a href="demo-shop-6.html" data-thumb-preview="../img/demos/shop/previews/home6.jpg">Shop - Demo 6</a></li>
                                    <li><a href="demo-shop-7.html" data-thumb-preview="../img/demos/shop/previews/home7.jpg">Shop - Demo 7</a></li>
                                    <li><a href="demo-shop-8.html" data-thumb-preview="../img/demos/shop/previews/home8.jpg">Shop - Demo 8</a></li>
                                    <li><a href="demo-shop-9.html" data-thumb-preview="../img/demos/shop/previews/home9.jpg">Shop - Demo 9</a></li>
                                    <li><a href="demo-shop-10.html" data-thumb-preview="../img/demos/shop/previews/home10.jpg">Shop - Demo 10</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="demo-shop-1.html">Shop Demos <span class="tip tip-hot">Hot!</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="demo-shop-11.html" data-thumb-preview="../img/demos/shop/previews/home11.jpg">Shop - Demo 11</a></li>
                                    <li><a href="demo-shop-12.html" data-thumb-preview="../img/demos/shop/previews/home12.jpg">Shop - Demo 12</a></li>
                                    <li><a href="demo-shop-13.html" data-thumb-preview="../img/demos/shop/previews/home13.jpg">Shop - Demo 13</a></li>
                                    <li><a href="demo-shop-14.html" data-thumb-preview="../img/demos/shop/previews/home14.jpg">Shop - Demo 14</a></li>
                                    <li><a href="demo-shop-15.html" data-thumb-preview="../img/demos/shop/previews/home15.jpg">Shop - Demo 15</a></li>
                                    <li><a href="demo-shop-16.html" data-thumb-preview="../img/demos/shop/previews/home16.jpg">Shop - Demo 16</a></li>
                                    <li><a href="demo-shop-17.html" data-thumb-preview="../img/demos/shop/previews/home17.jpg">Shop - Demo 17</a></li>
                                    <li><a href="demo-shop-18.html" data-thumb-preview="../img/demos/shop/previews/home18.jpg">Shop - Demo 18</a></li>
                                    <li><a href="demo-shop-19.html" data-thumb-preview="../img/demos/shop/previews/home19.jpg">Shop - Demo 19</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-mega-small">
                        <a href="demo-shop-6-category-4col.html" class="dropdown-toggle">
                            Fashion <span class="tip tip-new">New</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="dropdown-mega-content dropdown-mega-content-small">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <a href="#" class="dropdown-mega-sub-title">Women</a>
                                                    <ul class="dropdown-mega-sub-nav">
                                                        <li><a href="demo-shop-6-category-4col.html">Top &amp; Blouses</a></li>
                                                        <li><a href="demo-shop-6-category-4col.html">Accessories</a></li>
                                                        <li><a href="demo-shop-6-category-4col.html">Dresses &amp; Skirts</a></li>
                                                        <li><a href="demo-shop-6-category-4col.html">Shoes &amp; Boots</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6">
                                                    <a href="#" class="dropdown-mega-sub-title">Men</a>
                                                    <ul class="dropdown-mega-sub-nav">
                                                        <li><a href="demo-shop-6-category-4col.html">Accessories</a></li>
                                                        <li><a href="demo-shop-6-category-4col.html">Watch Fashion<span class="tip tip-new">New</span></a></li>
                                                        <li><a href="demo-shop-6-category-4col.html">Tees, Knits &amp; Polos</a></li>
                                                        <li><a href="demo-shop-6-category-4col.html">Pants &amp; Denim</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <a href="#" class="dropdown-mega-sub-title">Jewellery<span class="tip tip-hot">Hot!</span></a>
                                                    <ul class="dropdown-mega-sub-nav">
                                                        <li><a href="demo-shop-6-category-4col.html">Sweaters</a></li>
                                                        <li><a href="demo-shop-6-category-4col.html">Heels &amp; Sandals</a></li>
                                                        <li><a href="demo-shop-6-category-4col.html">Jeans &amp; Shorts</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-6">
                                                    <a href="#" class="dropdown-mega-sub-title">Kids Fashion</a>
                                                    <ul class="dropdown-mega-sub-nav">
                                                        <li><a href="demo-shop-6-category-4col.html">Casual Shoes</a></li>
                                                        <li><a href="demo-shop-6-category-4col.html">Spring Autumn</a></li>
                                                        <li><a href="demo-shop-6-category-4col.html">Winter Sneakers</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-5 mega-banner-bg">
                                            <img src="../img/demos/shop/menu-bg.png" alt="Banner bg">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-mega">
                        <a href="demo-shop-6-category-4col.html" class="dropdown-toggle">
                            Electronics
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="dropdown-mega-content">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="dropdown-mega-top">
                                                <span>Suggestions:</span>
                                                <a href="demo-shop-6-category-4col.html">3D</a>
                                                <a href="demo-shop-6-category-4col.html">Mobile</a>
                                                <a href="demo-shop-6-category-4col.html">Camera</a>
                                                <a href="demo-shop-6-category-4col.html">Headsets</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <a href="demo-shop-6-category-4col.html" class="cat-img"><img src="../img/demos/shop/cat-tv.png" alt="Category Name"></a>

                                                    <a href="#" class="dropdown-mega-sub-title">Smart Tvs</a>
                                                    <ul class="dropdown-mega-sub-nav">
                                                        <li><a href="demo-shop-6-category-4col.html">TV, Audio</a></li>
                                                        <li><a href="demo-shop-6-category-4col.html">Computers &amp; Tablets</a></li>
                                                        <li><a href="demo-shop-6-category-4col.html">Home Office Equipments</a></li>
                                                        <li><a href="demo-shop-6-category-4col.html">GPS Navigation</a></li>
                                                        <li><a href="demo-shop-6-category-4col.html">Car Video, Audio &amp; GPS</a></li>
                                                        <li><a href="demo-shop-6-category-4col.html">Radios &amp; Clock Radios</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4">
                                                    <a href="demo-shop-6-category-4col.html" class="cat-img"><img src="../img/demos/shop/cat-camera.png" alt="Category Name"></a>
                                                    <a href="#" class="dropdown-mega-sub-title">Cameras</a>
                                                    <ul class="dropdown-mega-sub-nav">
                                                        <li><a href="demo-shop-6-category-4col.html">Cell Phones &amp; Accessories</a></li>
                                                        <li><a href="demo-shop-6-category-4col.html">Cameras &amp; Photo</a></li>
                                                        <li><a href="demo-shop-6-category-4col.html">Photo Accessories</a></li>
                                                        <li><a href="demo-shop-6-category-4col.html">IP Phones</a></li>
                                                        <li><a href="demo-shop-6-category-4col.html">Samsung Galaxy Phones</a></li>
                                                        <li><a href="demo-shop-6-category-4col.html">iPad &amp; Android Tablets</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4">
                                                    <a href="demo-shop-6-category-4col.html" class="cat-img"><img src="../img/demos/shop/cat-game.png" alt="Category Name"></a>
                                                    <a href="demo-shop-6-category-4col.html" class="dropdown-mega-sub-title">Games</a>
                                                    <ul class="dropdown-mega-sub-nav">
                                                        <li><a href="demo-shop-6-category-4col.html">e-Book Readers</a></li>
                                                        <li><a href="demo-shop-6-category-4col.html">Video Games &amp; Consolers</a></li>
                                                        <li><a href="demo-shop-6-category-4col.html">Printers &amp; Scanners</a></li>
                                                        <li><a href="demo-shop-6-category-4col.html">Digital Picture Frames</a></li>
                                                        <li><a href="demo-shop-6-category-4col.html">3D Fashion Games</a></li>
                                                        <li><a href="demo-shop-6-category-4col.html">Game Machine &amp; Devices</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="menu-banner-area">
                                                <img src="../img/demos/shop/menu-cat.png" alt="Menu Banner">
                                                <div class="menu-banner-header">
                                                    <h3>Shop Now <span class="font-weight-bold">3D</span> <span class="font-weight-extra-bold">Tv's</span></h3>
                                                    <a href="#" class="btn btn-primary">View now <i class="fa fa-caret-right"></i></a>
                                                </div>
                                                <p>This is a custom block. You can add any images or links here</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown active">
                        <a class="dropdown-toggle" href="#">
                            Pages
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a href="#">Category</a>
                                <ul class="dropdown-menu">
                                    <li><a href="demo-shop-6-category-2col.html">Category - 2 Columns</a></li>
                                    <li><a href="demo-shop-6-category-3col.html">Category - 3 Columns</a></li>
                                    <li><a href="demo-shop-6-category-4col.html">Category - 4 Columns</a></li>
                                    <li><a href="demo-shop-6-category-5col.html">Category - 5 Columns</a></li>
                                    <li><a href="demo-shop-6-category-6col.html">Category - 6 Columns</a></li>
                                    <li><a href="demo-shop-6-category-7col.html">Category - 7 Columns</a></li>
                                    <li><a href="demo-shop-6-category-8col.html">Category - 8 Columns</a></li>
                                    <li><a href="demo-shop-6-category-list.html">Category - List</a></li>
                                    <li><a href="demo-shop-6-category-right-sidebar.html">Rigt Sidebar</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#">Category Banners</a>
                                <ul class="dropdown-menu">
                                    <li><a href="demo-shop-6-category-banner-boxed-slider.html">Boxed Slider</a></li>
                                    <li><a href="demo-shop-6-category-banner-boxed-image.html">Boxed Image</a></li>
                                    <li><a href="demo-shop-6-category-banner-fullwidth.html">Fullwidth Image</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#">Product Details</a>
                                <ul class="dropdown-menu">
                                    <li><a href="demo-shop-6-product-details.html">Product Details</a></li>
                                    <li><a href="demo-shop-6-product-details2.html">Product Details 2</a></li>
                                    <li><a href="demo-shop-6-product-details3.html">Product Details 3</a></li>
                                    <li><a href="demo-shop-6-product-details4.html">Product Details 4</a></li>
                                </ul>
                            </li>
                            <li><a href="demo-shop-6-cart.html">Shopping Cart</a></li>
                            <li><a href="demo-shop-6-checkout.html">Checkout</a></li>
                            <li><a href="demo-shop-6-about-us.html">About Us</a></li>
                            <li class="dropdown-submenu">
                                <a href="#">Dashboard</a>
                                <ul class="dropdown-menu">
                                    <li><a href="demo-shop-6-dashboard.html">Dashboard</a></li>
                                    <li><a href="demo-shop-6-myaccount.html">My Account</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#">Login &amp; Register</a>
                                <ul class="dropdown-menu">
                                    <li><a href="demo-shop-6-login.html">Login</a></li>
                                    <li><a href="demo-shop-6-register.html">Register</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">
                            Blog
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="demo-shop-6-blog.html">Blog</a></li>
                            <li><a href="demo-shop-6-blog-post.html">Blog Post</a></li>
                        </ul>
                    </li>
                    <li class="pull-right">
                        <a href="demo-shop-6-contact-us.html">
                            Contact Us <span class="tip tip-hot">Hot!</span>
                        </a>
                    </li>
                    <li class="pull-right ">
                        <a href="#">
                            Buy Porto!
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>