[viewBag]

[categories_component]
[cart_component]
==

<!-- Search -->
<form role="form">
    <div class="well">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search products...">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</form>


<!-- Categories -->
<div class="panel-group" id="shopNav">
    {% component "categories_component" %}

<!--    <div class="panel panel-default">-->
<!--        <div class="panel-heading">Your cart</div>-->
<!--        <ul>-->
<!--            <li><a href="">Product name</a><span>1</span></li>-->
<!--            <li><a href="">Product name</a><span>1</span></li>-->
<!--        </ul>-->
<!--    </div>-->


</div>