[viewBag]
==
<?php

    use Tai\Products\Models\Categories;

    function onStart() {
        $this['categories'] = Categories::has('products')->get();
    }
?>
==
<!-- Search -->
<form role="form">
    <div class="well">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search products...">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</form>


<!-- Categories -->
<div class="panel-group" id="shopNav">
    <div class="panel panel-default">
        <ul class="list-group filter-list-group">
   {% for category in categories %}
            <li class="list-group-item">
            {% spaceless %}
                <a href="/category/{{category.id}}">{{category.name}}</a>
                <span class="badge">{{ category.products.count }}</span>
            {% endspaceless %}
            </li>
      {% else %}
        <li class="no-data">No categories found</li>
    {% endfor %}
    
        </ul>
    </div>    
</div>