[viewBag]

[categories_component]
[cart_component]
==

<!-- Search -->
<form role="form" action="{{ 'shop/search' | page }}" method="get">
    <div class="well">
        <div class="input-group">
            <input name="q" type="text" class="form-control" placeholder="Search products...">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</form>

<!--<form action="{{ 'search' | page }}" method="get">-->
<!--    <input name="q" type="text" placeholder="What are you looking for?" autocomplete="off">-->
<!--    <button type="submit">Search</button>-->
<!--</form>-->

<!-- Categories -->
<div class="panel-group" id="shopNav">
    {% component "categories_component" %}

<!--    <div class="panel panel-default">-->
<!--        <div class="panel-heading">Your cart</div>-->
<!--        <ul>-->
<!--            <li><a href="">Product name</a><span>1</span></li>-->
<!--            <li><a href="">Product name</a><span>1</span></li>-->
<!--        </ul>-->
<!--    </div>-->


</div>