url = "/shop/product/:slug"
layout = "default"

[products_component]
==

{% put styles %}
    <link href="{{ [
        'assets/vendor/slick/slick.css',
    ]|theme }}" rel="stylesheet">
{% endput %}
{% put scripts %}
    <script src="{{ [
        'assets/vendor/slick/slick.js',
    ]|theme }}"></script>
    <script>
        $(document).ready(function() {
            $('#shopImages').slick({
                dots: true,
                infinite: true,
                speed: 500,
                fade: true,
                cssEase: 'linear',
                slidesToShow: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                pauseOnHover: true,
                arrows: false
            });


        })
    </script>
{% endput %}

{% set product = products_component.product %}
{% set similarproducts = products_component.similarproducts %}

<script>
    function myName() {
        console.log('Tai');
    }
</script>
<section id="layout-title">
    <div class="container">
        <h3>{{product.name}}</h3>
    </div>
</section>

<div class="container shop-item">
    <div class="row">
        <div class="col-sm-8">

            <div class="row">
                <div class="col-sm-6">

                    <div id="shopImages" class="shop-images">
                        {% for image in product.product_gallery %}
                        <div>
                            <a href="#" target="_blank">
                                <img src="{{image.path | resize(350, 350)}}" class="img-responsive" alt="">
                            </a>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                <div class="col-sm-6">
                    {{ product.description |raw }}

                    <button style="margin-top:50px;"
                        class="btn btn-info"
                            data-request="onAddToCart"
                            data-request-flash
                            data-request-success="myName()"
                            data-request-data="product_id: {{product.id}}">
                        <i class="fa fa-shopping-cart"></i> Add to cart
                    </button>
                </div>
            </div>

            <!-- Item Description -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="headline"><span>Product details</span></h4>
                    {{ product.description|raw }}
                </div>
            </div>

            <!-- Item gallery -->
            {% if product.product_gallery.count >0 %}
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="headline"><span>Product gallery</span></h4>
                    {% for image in product.product_gallery %}
                    <div class="col-sm-6 col-lg-3">
                        <img class="img-responsive" src="{{ image.path | resize(200, 200)}}" alt="">
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif%}




            {% if similarproducts.count > 0 %}
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="headline"><span>Similar products</span></h4>
                    <div class="row">

                        {% for product in similarproducts %}
                        <div class="col-sm-4">
                            <div class="shop-product">
                                <a href="{{ 'shop/product'|page({ slug:product.slug }) }}"><img src="{{product.product_image.path}}" class="img-responsive" alt=""></a>
                                <a href="{{ 'shop/product'|page({ slug:product.slug }) }}"><h6>{{product.name}}</h6></a>
                                <button class="btn btn-sm btn-info"
                                        data-request="onAddToCart"
                                        data-request-flash
                                        data-request-data="product_id: {{product.id}}">
                                    <i class="fa fa-shopping-cart"></i> Add to cart</button>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            {% endif%}
        </div>
        <div class="col-sm-4">
            {% partial 'shop/sidebar' %}
        </div>
    </div>
</div>