title = "Category"
url = "/category/:page?"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[builderList]
modelClass = "Tai\Products\Models\Products"
scope = "-"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "product-detail"
detailsKeyColumn = "id"
detailsUrlParameter = ":id"
recordsPerPage = 10
pageNumber = "{{ :page }}"
==
<?
	use Illuminate\Support\Facades\Session;

	function onStart(){
		$maxitem = input('maxitem');
		if ($maxitem) {
			Session::put('maxitem', $maxitem);
		}

		$maxitem =Session::get('maxitem', 10);

		$this->builderList->setProperty('recordsPerPage', $maxitem);
	}
?>
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}
{% set recordsPerPage = builderList.recordsPerPage %}


<div role="main" class="main">
	<section class="page-header mb-lg">

		<div class="container">
			<ul class="breadcrumb">
				<li><a href="#">Home</a></li>

				<li><a href="#">Fashion</a></li>
				<li class="active">Dresses</li>
			</ul>
		</div>
	</section>

	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<!--<div class="toolbar mb-none">-->
					<!--<div class="sorter">-->
						<!--<div class="sort-by">-->
							<!--<label>Sort by:</label>-->
							<!--<select>-->
								<!--<option value="Position">Position</option>-->
								<!--<option value="Name">Name</option>-->
								<!--<option value="Price">Price</option>-->
							<!--</select>-->
							<!--<a href="#" title="Set Desc Direction">-->
								<!--<img src="../img/demos/shop/i_asc_arrow.gif" alt="Set Desc Direction">-->
							<!--</a>-->
						<!--</div>-->

						<!--<div class="view-mode">-->
							<!--<span title="Grid">-->
								<!--<i class="fa fa-th"></i>-->
							<!--</span>-->
							<!--<a href="#" title="List">-->
								<!--<i class="fa fa-list-ul"></i>-->
							<!--</a>-->
						<!--</div>-->

						<!--<ul class="pagination">-->
							<!--<li class="active"><a href="#">1</a></li>-->
							<!--<li><a href="#">2</a></li>-->
							<!--<li><a href="#"><i class="fa fa-caret-right"></i></a></li>-->
						<!--</ul>-->

						<!--<div class="limiter">-->
							<!--<label>Show:</label>-->
							<!--<select>-->
								<!--<option value="12">12</option>-->
								<!--<option value="24">24</option>-->
								<!--<option value="36">36</option>-->
							<!--</select>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->

				<ul class="products-grid columns4">
					{% for record in records %}
					<li>
						{# Use spaceless tag to remove spaces inside the A tag. #}
						{% spaceless %}
						{% if detailsPage %}
						<a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">

							<div class="product">
								<figure class="product-image-area">
									<a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}"
									   title="{{ record.name }}"
									   class="product-image">
										<img src="{{ record.product_image.getThumb(80,auto) }}" alt="Product Name">
										<img src="{{ record.product_image.getThumb(80,auto) }}" alt="Product Name" class="product-hover-image">
									</a>

									<a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" class="product-quickview">
										<i class="fa fa-share-square-o"></i>
										<span>Quick View</span>
									</a>
								</figure>
								<div class="product-details-area">
									<h2 class="product-name"><a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" title="Product Name">{{ record.name }}</a></h2>

									<div class="product-actions">
										<a href="#" class="addtowishlist" title="Add to Wishlist">
											<i class="fa fa-heart"></i>
										</a>
										<a href="#" class="addtocart" title="Add to Cart">
											<i class="fa fa-shopping-cart"></i>
											<span>Add to Cart</span>
										</a>
									</div>
								</div>
							</div>
						</a>
						{% endif %}
						{% endspaceless %}
					</li>
					{% else %}
					<li class="no-data">{{ noRecordsMessage }}</li>
					{% endfor %}
				</ul>

				{% if records.lastPage > 1 %}
				<div class="toolbar-bottom">
					<div class="toolbar">
						<div class="sorter">
							<!--<div class="limiter">-->
								<!--<label>Show:</label>-->
								<!--<select>-->
									<!--<option {{ recordsPerPage == 12 ? 'selected' : null}} value="12">12</option>-->
									<!--<option {{ recordsPerPage == 24 ? 'selected' : null}} value="24">24</option>-->
									<!--<option {{ recordsPerPage == 36 ? 'selected' : null}} value="36">36</option>-->
								<!--</select>-->
							<!--</div>-->

							<ul class="pagination">
								{% if records.currentPage > 1 %}
								<li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
								{% endif %}

								{% for page in 1..records.lastPage %}
								<li class="{{ records.currentPage == page ? 'active' : null }}">
									<a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
								</li>
								{% endfor %}

								{% if records.lastPage > records.currentPage %}
								<li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
				{% endif %}


			</div>

			{% partial 'sidebar' %}

		</div>
	</div>
</div>

{% put scripts %}
<script>
	$(document).ready(function () {
		$('.limiter>select').on('change', function (event) {
			var $this = $(this);
			var maxitem = $this.val();

			post("/category", {"maxitem": maxitem});
		});
	});

	// Post to the provided URL with the specified parameters.
	function post(path, parameters) {
		var form = $('<form></form>');

		form.attr("method", "post");
		form.attr("action", path);

		$.each(parameters, function(key, value) {
			var field = $('<input></input>');

			field.attr("type", "hidden");
			field.attr("name", key);
			field.attr("value", value);

			form.append(field);
		});

		// The form needs to be a part of the document in
		// order for us to be able to submit it.
		$(document.body).append(form);
		form.submit();
	}
</script>
{% endput %}
