title = "Demonstration"
url = "/"
==

<!DOCTYPE html>
<!--(remove-empty-lines-start)-->


<html>

<!--(remove-empty-lines-end)-->
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Demo Shop 6 | Porto - Responsive HTML5 Template 5.3.0</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Favicon -->

    <link rel="shortcut icon" href="{{ 'assets/img/favicon.ico'|theme }}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ 'assets/img/apple-touch-icon.png' | theme }}">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link href="{{ [
            'assets/vendor/bootstrap/css/bootstrap.min.css',
            'assets/vendor/bootstrap/css/bootstrap.min.css',
            'assets/vendor/font-awesome/css/font-awesome.min.css',
            'assets/vendor/animate/animate.min.css',
            'assets/vendor/simple-line-icons/css/simple-line-icons.min.css',
            'assets/vendor/owl.carousel/assets/owl.carousel.min.css',
            'assets/vendor/owl.carousel/assets/owl.theme.default.min.css',
            'assets/vendor/magnific-popup/magnific-popup.min.css'
        ]|theme }}" rel="stylesheet">


    <!-- Theme CSS -->
    <link href="{{ [
            'assets/css/theme.css',
            'assets/css/theme-elements.css',
            'assets/css/theme-blog.css',
            'assets/css/theme-shop.css'
        ]|theme }}" rel="stylesheet">


    <!-- Current Page CSS -->
    <link href="{{ [
            'assets/vendor/rs-plugin/css/settings.css',
            'assets/vendor/rs-plugin/css/layers.css',
            'assets/vendor/rs-plugin/css/navigation.css'
        ]|theme }}" rel="stylesheet">


    <!-- Skin CSS -->
    <link href="{{ [
            'assets/css/skins/skin-shop-6.css'
        ]|theme }}" rel="stylesheet">

    <!-- Demo CSS -->
    <link href="{{ [
            'assets/css/demos/demo-shop-6.css'
        ]|theme }}" rel="stylesheet">

    <!-- Theme Custom CSS -->
    <link href="{{ [
            'assets/css/custom.css'
        ]|theme }}" rel="stylesheet">

    <!-- Head Libs -->
    <script src="{{ [
				'assets/vendor/modernizr/modernizr.min.js',
			]|theme }}"></script>

</head>
<body>

<div class="body">
    {% partial 'header' %}

    {% partial 'mobile-nav' %}

    {% page %}

    {% partial 'footer' %}
</div>

<!-- Vendor -->
<script src="{{ [
         'assets/vendor/jquery/jquery.min.js',
         'assets/vendor/jquery.appear/jquery.appear.min.js',
         'assets/vendor/jquery.easing/jquery.easing.min.js',
         'assets/vendor/jquery-cookie/jquery-cookie.min.js',
         'assets/vendor/bootstrap/js/bootstrap.min.js',
         'assets/vendor/common/common.min.js',
         'assets/vendor/jquery.validation/jquery.validation.min.js',
         'assets/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js',
         'assets/vendor/jquery.gmap/jquery.gmap.min.js',
         'assets/vendor/jquery.lazyload/jquery.lazyload.min.js',
         'assets/vendor/isotope/jquery.isotope.min.js',
         'assets/vendor/owl.carousel/owl.carousel.min.js',
         'assets/vendor/magnific-popup/jquery.magnific-popup.min.js',
         'assets/vendor/vide/vide.min.js',
        ]|theme }}"></script>



<!-- Theme Base, Components and Settings -->
<script src="{{ [
        'assets/javascript/theme.js',
        'assets/vendor/rs-plugin/js/jquery.themepunch.tools.min.js',
        'assets/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js',
        ]|theme }}"></script>

<!-- Current Page Vendor and Views -->
<script src="{{ [
        'assets/javascript/views/view.contact.js',
        ]|theme }}"></script>


<!-- Demo -->
<script src="{{ [
        'assets/javascript/demos/demo-shop-6.js',
        ]|theme }}"></script>


<!-- Theme Custom -->
<script src="{{ [
        'assets/javascript/custom.js',
        ]|theme }}"></script>


<!-- Theme Initialization Files -->
<script src="{{ [
                'assets/javascript/theme.init.js'
            ]|theme }}"></script>

</body>
</html>
